asyncio==3.4.3
autobahn==0.16.0
beautifulsoup4==4.3.2
certifi==2015.11.20
cffi==1.8.3
constantly==15.1.0
cryptography==1.5.3
Cython==0.22
Django==1.10.3
gdbus-codegen==2.46.2
gentoolkit==0.3.0.9.post2
html5lib==0.9999999
idna==2.1
incremental==16.10.1
java-config==2.2.0
Jinja2==2.7.3
Magic-file-extensions==0.2
MarkupSafe==0.23
numpy==1.10.4
packaging==15.3
paramiko==2.0.2
Pillow==3.1.1
ply==3.6
portage==2.2.28
pyasn1==0.1.9
pycparser==2.17
pyelftools==0.22
pyxdg==0.25
scipy==0.16.1
simplejson==3.8.1
six==1.10.0
Twisted==16.5.0
txaio==2.5.1
zope.interface==4.3.2
