<html>
<head>
  <title>hi</title>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/3.6.1/js-yaml.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
</head>
<body>
  <div class="container">
    <div class="starter-template">
      <div id="app" class="accordion">
          <h3>Used lab machines:</h3>
          <div>
          <p>
            <ul>
              <li v-for="(count, cluster) in clusters">
               {{ yaml['clusters'][cluster]['room'] }} - {{ cluster }} - {{ count }} / {{ maxes[cluster] }}
              </li>
            </ul>
            </p>
          </div>
          <h3>Logged into Lawson machines:</h3>
          <div>
          <p>
            <ul>
              <li v-for="(data, user) in users">
                {{ lnameMap[user]['name'] }} - {{ user }} [
                  <span v-for="x in data"> 
                    <template v-if="x['devices'].indexOf('tty7') >= 0">
                     <strong>{{ x['hostname'] }}</strong>
                    </template>
                    <template v-else>
                      {{ x['hostname'] }}
                    </template>
                  </span>
                ]
              </li>
            </ul>

              </li>
            </ul>
            </p>
          </div>
          <h3>Clusters:</h3>
          <div>
          <p>
            <ul>
              <li v-for="(a, cluster) in response">
                {{ cluster }} - {{ yaml['clusters'][cluster]['room'] }}
                <ul>
                <li v-for="(b, host) in response[cluster]">
                  {{ host }}  -  [
                    <span v-for="x in b">
                      <template v-if="x['devices'].indexOf('tty7') >= 0">
                         <strong>{{ x['lname']['careerAcc'] }}</strong>
                      </template>
                      <template v-else>
                        {{ x['lname']['careerAcc'] }}
                      </template>
                  </span>
                ]
              </li>
            </ul>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script>
    var url = "http://austinschwartz.com:57888/api/master";
    var app = new Vue({
      el: '#app',

      data: {
        response: null,
        users: null,
        clusters: {},
        maxes: null,
        yaml: null,        
        lnameMap: {},
      },

      created: function() {
        this.fetchData();
      },

      methods: {
        fetchData: function () {
          var self = this;
          $.getJSON( url, function( data ) {
            self.response = data['response'];
            map = {};
            for (var cluster in data['response']) {
              for (var host in data['response'][cluster]) {
                var hostData = data['response'][cluster][host];
                for (var user in hostData) {
                  var e = {
                      'hostname': host,
                      'devices': hostData[user]['devices'],
                  };
                  var lname = hostData[user]['lname'];
                  if (lname['careerAcc'] in map)
                    map[lname['careerAcc']].push(e);
                  else
                    map[lname['careerAcc']] = [e];
                  self.lnameMap[lname['careerAcc']] = lname;
                }
              }
            }

            self.users = map;
            var x = self.response;
            self.clusters = {}
            self.maxes = {}
            for (var host in x) {
                if (host == 'data' || host == 'lore') continue;
                self.clusters[host] = 0;
                self.maxes[host] = Object.keys(x[host]).length;
                for (var hostname in x[host]) {
                    for (var user in x[host][hostname]) {
                        var list = x[host][hostname][user];
                        for (var device in list['devices']) {
                            if (list['devices'][device].startsWith('tty')) {
                                self.clusters[host] += 1;
                                break;
                            }
                        }
                    }
                }
            }
          });

          $.get('../servers.yaml', function(data) {
            var doc = jsyaml.load(data);
            self.yaml = doc;
          });
                $( function() {
                    $( ".accordion" ).accordion({
                        heightStyle: "content"
                    });
              } );
        }
      }
    });
  </script>
</body>
</html>
